* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

body {
  background-color: white;
  color: white;
}

.home {
  height: 550px;
  background-color: rgba(1, 26, 37, 0.733);
}

.header {
  padding: 10px 6%;
  background-color: rgba(62, 67, 70, 0.418);
  display: flex;
  justify-content: space-between;
}

.appear__Header {
  position: sticky;
  top: 0px;
  left: 0px;
}

.heading a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
  color: white;
}

.locationAndLanguage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation__Buttons {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 15px 20px;
  margin: 0px 10px;
  color: white;
}

.region {
  border-radius: 20px;
  padding: 0px;
  width: 40px;
  height: 40px;
}

.mannageBooking {
  color: rgb(10, 52, 167);
  background-color: rgb(255, 255, 255);
}

/* SectionHome */

.sectionHome::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 550px;
  width: 100%;
  background-image: url('./public/reBackground.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -2;
}

.sectionHome {
  height: 80%;
  margin: 50px 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description {
  font-size: 4rem;
  font-weight: 800;
}

.key__Highlights {
  font-size: 2rem;
}

.service__Buttons {
  display: flex;
  margin: 20px 0px;
  width: 700px;
}

.services {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0px 20px;
  border-radius: 40px;
  transition: all ease-in-out 0.3s;
}

.stylishActiveButton {
  border: 1px solid rgb(99, 87, 87);
  background-color: rgba(120, 173, 226, 0.267);
}

.runPlane {
  transform: rotate(90deg);
}

.services:hover {
  background-color: rgba(120, 173, 226, 0.267);
  .runCar {
    transition: all ease-out 0.4s;
    scale: 1.2;
  }
  .runPlane {
    transform: translate(70vw, -45vh);
    opacity: 0.01;
    transition: all ease-in 2s;
  }
  .runBike {
    opacity: 0.01;
    transition: all ease-in 2s;
    transform: translateX(55vw);
  }
}

.services span {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0px 20px;
}

.search__icon {
  width: 40px;
  height: 40px;
}

.search__icon use {
  transform: translate(8px, 8px);
  fill: white;
}

.key__Highlights {
  display: flex;
}

.key__Highlights p {
  font-size: 1.7rem;
  margin: 20px;
}

form {
  background-color: rgb(30, 134, 126);
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.input {
  width: 30%;
  border: 1px solid rgba(128, 128, 128, 0.616);
  font-size: 1.3rem;
  padding: 12px 2px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
}

.timer {
  width: 100px;
}

.hidden {
  display: none;
}

.zeroVisibility {
  visibility: hidden;
}

.search__button {
  cursor: pointer;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  background-color: rgb(27, 173, 27);
  width: 200px;
  transition: all ease-out 0.3s;
}

.search__button:hover {
  scale: 1.02;
}

.search__Checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 30px 0px;
}

.checks {
  background-color: rgba(112, 148, 247, 0.274);
  margin: 0px 30px;
  padding: 10px;
  border-radius: 15px;
}

.checks label {
  font-size: 1.5rem;
  margin: 10px;
}

.checks input {
  transform: scale(1.2);
  margin: 0px 10px;
}

/* Brands */
.workingBrands {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workingBrands p {
  font-size: 4rem;
  font-weight: 800;
  color: black;
}

.brand {
  background-color: rgb(235, 230, 230);
  border-radius: 5px;
  box-shadow: 10px 10px;
  padding: 10px;
  width: 100%;
  height: 80%;
}

.allBrand {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(2, 120px);
  grid-gap: 10px;
  margin-top: 100px;
  height: 70px;
}

.ktm {
  background-color: orangered;
}
